    /*=============== GOOGLE FONTS ===============*/
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

    /*=============== VARIABLES CSS ===============*/
   :root 
    {
    --header-height: 3.5rem; /*56px*/
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --primary-color-hue:352;
    --dark-color-lightness:17%;
    --light-color-lightness:92%;
    --white-color-lightness:100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  
    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
  
    /*========== Card padding ==========*/
    --card-padding:1.9rem 0.95rem;

    /*========== Border radius ==========*/
    --border-radius: 1.25rem;

    /*========== Box shadow ==========*/
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  }
    /*========== Scroll Bar ==========*/
    
    /*========== Responsive Typography ==========*/
    
    /*========== Base ==========*/
    * 
    {
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
    }
    body, 
    button,
    input,textarea
    {
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
    }
    body
    {
      background-color: var(--color-light);
      color: var(--color-dark);
      line-height: 1.7;
      font-weight: var(--font-medium);
    }
    img{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
    ul
    {
      list-style: none;
    }
    a 
    {
      text-decoration: none; 
      color: var(--color-dark);
    }
    h1,h2,h3
    {
      font-weight: var(--font-semi-bold);
    }
    h1
    {
      font-size: var(--h1-font-size);
    }
    h2
    {
      font-size: var(--h2-font-size);
    }
    h3
    {
      font-size: var(--h3-font-size);
    }
   
    /*========== Layout ==========*/
    .container 
    {
      max-width: 968px;
      margin: auto;
    }
    .padd-15
    {
      padding-left: 15px;
      padding-right: 15px;
  
    }

    /*========== Reusable css classes ==========*/
    
    
    /*========== Buttons ==========*/
    
    .btn
    {
      padding: 0.75rem 2rem;
      line-height: 1;
      border-radius: var(--border-radius);
    }
    
    .btn:focus
    {
      outline: 0;
    }
    @keyframes button-push
    {
      50%
      {
        transform: scale(0.8);
      }
      100%
      {
        transform: scale(1);
      }
    }
    .btn-default
    {
      color: #fff;
      vertical-align: middle;
      display: inline-block;
      background-color: var(--color-primary);
      transform: perspective(1px) translateZ(0);
    }

    .btn-default:hover
    {
      animation-name: button-push;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      animation-iteration-count: 1; 
    }
   
    /*========== Header ==========*/
    .header
    {
      width: 100%;
      background-color: var(--color-light);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
    }

    /*========== NAV ==========*/
    .nav{
      height: calc(var(--header-height) + 1.5rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 3rem; 
    }
    .nav-logo
    {
      font-size: var(--h2-font-size);
      font-weight: var(--font-semi-bold);
      letter-spacing: 0.125rem;
      position: relative;
    }
    .nav-logo::after
    {
      position: absolute;
      content: '';
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      top: 56%;
      right: -0.25rem;
    }
    .nav-menu
    {
      margin-left: auto;
    }
    .nav-list
    {
      display: flex;
      column-gap: 3rem;
    }
    .nav-link 
    {
      font-weight: var(--font-medium);
      transition: .3s;
    }
    .nav-link:hover
    {
      color: var(--color-primary);
    }
    .nav-btns
    {
      display: inline-flex;
      align-items: center;
      column-gap: 1rem;
    }
    .change-theme
    {
      font-size: 1.15rem;
      cursor: pointer;
    }
    .nav-toggle
    {
      display: none;
    }
    .active-link
    {
      position: relative;
    }
    .active-link::before
    {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      left: 45%;
      width: 0.3rem;
      height: 0.3rem;
      background-color: var(--color-primary);
      border-radius: 50%;
    }

    /*========== Home ==========*/
    .home
    {
      display: flex;
      justify-content: center;
      height: 100vh;
      min-height: 100vh;
    }
    .home .intro 
    {
      max-width: 540px;
      text-align: center;
    }
    .home .intro img
    {
      margin-bottom: var(--m-1);
    }
    .home .intro .social-icons
    {
      margin-top: var(--m-1-5);
      margin-bottom: var(--m-2);
    }
    .home .intro .social-icons li 
    {
      display: inline-block;
    }
    .home .intro .social-icons li:not(:last-child)
    {
      margin-right: var(--m-1-5);
    }
    .home .intro .social-icons a 
    {
      font-size: var(--h3-font-size);
    }

     /*========== Mouse ==========*/

    .scroll-down
    {
      position: absolute;
      bottom: var(--m-2-5);
      left: 0;
      width: 100%;
    }
    .mouse-wrapper
    {
      font-size: var(--small-font-size);
      display: block;
      margin: auto;
      max-width: 100px;
      text-align: center;
    }
    @keyframes ani-mouse
    {
      0%
      {
        top: 29%;
      }
      15%
      {
        top: 50%;
      }
      50%
      {
        top: 50%;
      }
      100%
      {
        top: 29%;
      }
    }
    .mouse
    {
      border: 2px solid var(--color-dark);
      display: block;
      height: 1.75rem;
      width: 1.25rem;
      margin: auto;
      margin-top: var(--m-0-75);
      border-radius: var(--border-radius);
      position: relative;
    }

    .mouse .wheel
    {
      background-color: var(--color-dark);
      border-radius: 50%;
      width: 0.25rem;
      height: 0.25rem;;
      position: absolute;
      top: var(--m-0-5);
      left: 40%;
      display: block;
      animation: ani-mouse 2s linear infinite;
    }


    /*========== About ==========*/
    
    /*========== Services ==========*/
    
    /*========== Experience ==========*/
    
    /*========== Pricing ==========*/
    
    /*========== Portfolio ==========*/
    
    /*========== Testimonial ==========*/
    
    /*========== Blog ==========*/
    
    /*========== Contact ==========*/
    
    /*========== Footer ==========*/
    
    /*========== Customize Theme ==========*/
    
    /*========== Media Queries ==========*/
    @media only screen and (max-width:1200px)
    {
      
    }
    @media only screen and (max-width:968px)
    {
      
    }
    @media only screen and (max-width:768px)
    {
      
    }
    @media only screen and (max-width:576px)
    {
      
    }
    @media only screen and (max-width:320px)
    {
      
    }